@using Crypto.Core.Models
@model Crypto.Core.Models.JsonFile

@{var index = 0;}

<table class="table">
    <thead>
        <tr>
            <th class="sticky-top">#</th>
            <th class="sticky-top">Name</th>
            <th class="sticky-top">Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in JsonFile.CryptoCurrencies)
    {
        <tr>
            <td>@(++index)</td>
            <td>@item.Currency</td>
            <td>@item.Prices.First()</td>
        </tr>
    }
    </tbody>
</table>