

<div class="sidebar">

    <div class="AppTitle">$ CryptoAPP $</div>
    <a class="active" asp-controller="Home" asp-action="Index">Cryptocurrencies</a>
    <a asp-controller="Home" asp-action="MyCurrencies">My cryptocurrencies</a>
    <a asp-controller="Home" asp-action="FavoriteList">Favorites</a>


</div>

