

    <div class="sidebar">

        <div class="AppTitle">$ CryptoAPP $</div>
        <a class="active" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Favorite">Favorites</a>
        <a href="#contact">Contact</a>

    </div>

