.AppTitle {
    color: white;
    padding: 30px 20px 30px 23px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2D2D2D;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        color: #F6F6F6;
        padding: 16px;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: #413f3f;
            color: #F6F6F6;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

.ChangePositive {
    color: green;
    font-size: 1.2rem;
}

.ChangeNegative {
    color: red;
    font-size: 1.2rem;
}

.TriangleDown {
    float: left;
    width: 0;
    margin-top: 18px;
    height: 0;
    text-align: left;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid red;
}

.TriangleUp {
    float: left;
    width: 0;
    margin-top: 3px;
    height: 0;
    text-align: left;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid green;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}