

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold"><i class="fas fa-funnel-dollar font-weight-bold"></i>CryptoMarket</h1>

</div>
@Html.Partial("_CurrencyTable")